
.container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    min-width: 100vw;
    background-color: #1e1a20;

z-index: -100;
overflow: hidden;
}

.bubbles{
    position: relative;
    display: flex;
    z-index: -1;
}

.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #fcf9be;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #fcf9be44,0 0 50px #fcf9be, 0 0 100px #fcf9be; 
    animation: animate 15s linear infinite;
    animation-duration: calc(105s / var(--i));
}

.bubbles span:nth-child(even){
    background: #ff2d75;

    box-shadow: 0 0 0 10px #ff2d7544,0 0 50px #ff2d75, 0 0 100px #ff2d75; 

}
@keyframes animate {
    0%{
        transform: translateY(10vh) scale(0);
    }
    0%{
        transform: translateY(150vh) scale(1);
    }
}

vue2,vue1{
    padding: 10px;
    border-radius: 5px;
    border: 2px white solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 35px;
    z-index: 9999;
}
