<div class="global">
<header>
  <div class="logo">
      <img src="../../assets/logo-no-background.png" alt="" />
  </div>
  <nav class="nav">
      <ul>
          <li (click)="logOut()" >deconnexion</li>
      </ul>
  </nav>
</header>

<div class="p-5 text-center bg-light">
  <h1 class="mb-3"[(ngModel)]="formRestaur"> {{formRestaur?.nom}} </h1>
  <!-- <h4 class="mb-3">Subheading</h4> -->
  <!-- <a class="btn btn-primary" href="" role="button">Call to action</a> -->
</div>
<div> Menu du restaurant </div>
<div><app-plat></app-plat></div>
</div>
<!-- <div><app-commande-restau></app-commande-restau></div> -->
