<div class="global">
    <header>
        <div class="logo">
            <img src="../../assets/logo-no-background.png" alt="" />
        </div>
        <nav class="nav">
            <ul>
                <li (click)="monCompte()">compte</li>
                <li (click)="monPanier()">panier</li>
                <li (click)="logOut()">deconnexion</li>
            </ul>
        </nav>
    </header>
    <h1>Mon Panier</h1>
    <div class="doublecolonne">
        <div class="container">
            <table class="tableau">
                <thead class="tablehead">
                    <tr>
                        <th>Plat</th>
                        <th>Description</th>
                        <th>Quantité</th>
                        <th>Prix</th>
                    </tr>
                </thead>

                <tbody class="tablecontainer">
                    <tr *ngFor="let panier of paniers">
                        <td>{{panier.plat?.nom}}</td>
                        <td>{{panier.plat?.description}}</td>
                        <td>{{panier.quantite}}</td>
                        <td>{{panier.quantite*panier.plat?.prix}}€</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="paiement">
            <h2>Paiement</h2>
            <label class="moy" for="moypaiement">Moyen de paiement:</label>

            <select name="paiement" id="moypaiement" [(ngModel)]="selectedOption">
                <option value=""> -- Choisissez un moyen de paiement -- </option>
                <option value="CB">Carte Bancaire</option>
                <option value="Paypal">Paypal</option>
                <option value="ApplePay">ApplePay</option>
                <option value="GooglePay">GooglePay</option>
                <option value="TicketsResto">TicketsResto</option>
            </select>
            <div class="prix">Total : {{totalPrix}}€</div>
            <button class="bouton" (click)="commandepaye()" [disabled]="selectedOption === ''" type="button"
                [routerLink]="['/client/attenteLivreur']" routerLinkActive="active"> PAYER</button>
            <button class="annuler" (click)="annulerCommand()" [routerLink]="['/clientRecherche']">ANNULER MON PANIER</button>
        </div>
    </div>
</div>