<header> 
    <app-nav-bar></app-nav-bar>
  </header> 

  <div class="p-5 text-center bg-light">
    <h1 class="mb-3"[(ngModel)]="formRestaurateur"> Bienvenue {{formRestaurateur.nom}} {{formRestaurateur.prenom}}</h1>
    <!-- <h4 class="mb-3">Subheading</h4> -->
    <!-- <a class="btn btn-primary" href="" role="button">Call to action</a> -->
  </div>


  




<div >
   
</div>
<h4> A quelle restaurant voulez vous avoir acces?? </h4>
<br>
<button type="button" class="btn btn-primary" *ngFor="let rest of formRestaurant" [routerLink]="['/restaurant']" routerLinkActive="active" (click)="getRestau(rest.id)">le {{ rest.nom }}</button>






<!-- Jumbotron -->

  <router-outlet></router-outlet>
