<div class="global">
<header>
  <div class="logo">
      <img src="../../assets/logo-no-background.png" alt="" />
  </div>
  <nav class="nav">
      <ul>
        
        <li (click)="logOut()">deconnexion</li>
      </ul>
  </nav>
</header>

  <div class="p-5 text-center bg-light">
    <h1 class="mb-3"[(ngModel)]="formRestaurateur"> Bienvenue {{formRestaurateur?.nom}} {{formRestaurateur?.prenom}}</h1>
    <!-- <h4 class="mb-3">Subheading</h4> -->
    <!-- <a class="btn btn-primary" href="" role="button">Call to action</a> -->
  </div>

  <h2> Liste de vos restaurant </h2>


<div >
   
</div>

<br>
<!-- <button type="button" class="button-27" role="button" *ngFor="let rest of formRestaurant" [routerLink]="['/restaurant']" routerLinkActive="active" (click)="getRestau(rest.id)">le {{ rest.nom }}</button> -->
<div class="containerSection">
  <div class="card"  *ngFor="let restau of this.formRestaurant" >
    <div *ngIf="!restau.ouvert" class="ruban-wrap">
      <div class="ruban">FERME</div>
    </div>
    <div class="header" [ngClass]="{'closed': !restau.ouvert}">
      <img src="" alt="">
    </div>
    <div class="Contenu" [ngClass]="{'closed': !restau.ouvert}">
      <div class="nomRestau">{{restau.nom}}</div>
      <p class="description">{{restau.descriptionRestaurant}}</p>
      <div class="containerFooter">
        <div class="adresse">
          <div class="icon"><i class="fa-solid fa-location-dot"></i></div>
          <div class="nomAdresse">{{restau.adresse?.numero}} {{restau.adresse?.rue}}, {{restau.adresse?.postal}} : {{restau.adresse?.ville}}</div>
        </div>
        <div class="note">{{restau.notation}}</div>
      </div>
    </div>
    <div class="button" [ngClass]="{'closed': !restau.ouvert}" [routerLink]="['/restaurant']" routerLinkActive="active" (click)="getRestau(restau.id)">Acceder au restaurant</div>
    <div class="button"(click)="edit(restau.id)">Modifier</div>

  </div>

 
</div>
<div class="card-footer">
  <a class="btn btn-success btn-lg" (click)="add()">Ajouter un nouveau Restaurant<i
      class="bi bi-plus-square"></i></a>
</div>

<div class="card mt-3" *ngIf="formRestau">
  <div class="card-header bg-dark text-white display-6">Restaurant</div>
  <div class="card-body">
      <div class="form-group">
          <label for="id">Identifiant:</label> <input type="number" class="form-control" id="id" name="id" [(ngModel)]="formRestau.id" readonly/>
      </div>
      <div class="form-group">
          <label for="nom">Nom:</label> <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="formRestau.nom"  />
      </div>
      <!-- <div class="form-group">
          <label for="ouvert">Ouvert:</label> <input type="boolean" class="form-control" id="prix" name="prix" [(ngModel)]="formRestau.ouvert" />
      </div> -->
      <div class="form-group">
          <label for="description">Description:</label> <input type="text" class="form-control" id="description" name="description" [(ngModel)]="formRestau.descriptionRestaurant" />
      </div>

      <!-- <div class="form-group">
        <label for="adresse">Adresse:</label> <input type="text" class="form-control" id="adresse" name="adresse" [(ngModel)]="formRestau.adresse.numero" />
    </div> -->
      
  </div>
  <div class="card-footer">
      <div class="btn-group btn-group-lg float-right">
          <a class="btn btn-success" (click)="save()"><i class="bi bi-check-square-fill"></i></a>
          <a class="btn btn-warning" (click)="cancel()"><i class="bi bi-backspace-fill"></i></a>
      </div>
  </div>
</div>


<!-- Jumbotron -->

  <router-outlet></router-outlet>
</div>