<div class="global">
    <header>
        <div class="logo">
            <img src="../../assets/logo-no-background.png" alt="" />
        </div>
        <nav class="nav">
            <ul>
                <li (click)="newSearch()">Accueil</li>
                <li (click)="monCompte()">compte</li>
                <li (click)="monPanier()">panier</li>
                <li (click)="logOut()">deconnexion</li>
            </ul>
        </nav>
    </header>
    <h1>Mon Compte</h1>
    <div class="colonne">
        <div class="container">
            <table class="tableau">
                <thead class="tablehead">
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Mail</th>
                        <th>N° de voie</th>
                        <th>Rue</th>
                        <th>Code Postal</th>
                        <th>Ville</th>
                    </tr>
                </thead>

                <tbody class="tablecontainer">
                    <tr *ngIf="clients">
                        <td>{{clients.id}}</td>
                        <td>{{clients.nom}}</td>
                        <td>{{clients.prenom}}</td>
                        <td>{{clients.mail}}</td>
                        <td>{{clients.adresse?.numero}}</td>
                        <td>{{clients.adresse?.rue}}</td>
                        <td>{{clients.adresse?.postal}}</td>
                        <td>{{clients.adresse?.ville}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="modif"><button class="button" (click)="edit(clients.id)" type="button"> Modifier mon
                    compte</button></div>
        </div>

    
        <div class="formulaire" *ngIf="formClient">
            <div class="formcontainer">
                <div class="colonneg">
                    <h2>Edition de mon compte</h2>
                    <div class="boutons">
                        <button class="valid" (click)="save()" type="button"> VALIDER</button>
                        <button class="cancel" (click)="cancel()" type="button"> ANNULER</button>
                    </div>
                </div>
                <div class="perso">
                    <div>
                        <label for="nom">Nom :</label> <input type="text" class="form-control" id="nom" name="nom"
                            [(ngModel)]="formClient.nom" />
                    </div>
                    <div>
                        <label for="prenom">Prénom :</label> <input type="text" class="form-control" id="prenom"
                            name="prenom" [(ngModel)]="formClient.prenom" />
                    </div>
                    <div>
                        <label for="mail">Mail :</label> <input type="text" class="form-control" id="mail" name="mail"
                            [(ngModel)]="formClient.mail" />
                    </div>
                </div>
                <div class="adresse">
                    <div>
                        <label for="numero">N° de voie:</label> <input type="text" class="form-control" id="numero"
                            name="numero" [(ngModel)]="formClient.adresse.numero" />
                    </div>
                    <div>
                        <label for="rue">Rue : </label> <input type="text" class="form-control" id="rue" name="rue"
                            [(ngModel)]="formClient.adresse.rue" />
                    </div>
                    <div>
                        <label for="postal">Code Postal:</label> <input type="text" class="form-control" id="postal"
                            name="postal" [(ngModel)]="formClient.adresse.postal" />
                    </div>
                    <div>
                        <label for="ville">Ville :</label> <input type="text" class="form-control" id="ville"
                            name="ville" [(ngModel)]="formClient.adresse.ville" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
